@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
}
body {
  height: 230vh;
  background-color: rgb(48, 173, 79);
}

header {
  margin-left: 10%;
  margin-top: 20px;
  width: 70em;
  text-align: center;
  color: #fff;
}
#seta {
  width: 100px;
  position: absolute;
  left: 2%;
  top: 0;
}

header p {
  font-weight: bold;
  color: rgb(44, 228, 99);
}
#fase-3-img {
  width: 100px;
  position: absolute;
  right: 2%;
  top: 2%;
}

#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 150vh;
  width: 80vw;
  margin: 100px auto;
}

.divs {
  height: 380px;
  flex-basis: 200px;
  font-size: 20px;
  font-weight: bold;
}

#multiplicacao-1 > span {
  order: 1;
  background-color: rgb(121, 255, 88);
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-2 > span {
  background-color: rgb(121, 255, 88);
  order: 2;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
}
#multiplicacao-2:hover {
  cursor: pointer;
}

#multiplicacao-3 > span {
  background-color: rgb(121, 255, 88);
  order: 3;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-4 > span {
  background-color: rgb(121, 255, 88);
  order: 4;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-5 > span {
  background-color: rgb(121, 255, 88);
  order: 5;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-6 > span {
  background-color: rgb(121, 255, 88);
  order: 6;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-7 > span {
  background-color: rgb(121, 255, 88);
  order: 7;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-8 > span {
  background-color: rgb(121, 255, 88);
  order: 7;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-9 > span {
  background-color: rgb(121, 255, 88);
  order: 7;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

#multiplicacao-10 > span {
  background-color: rgb(121, 255, 88);
  order: 7;
  text-align: center;
  display: block;
  line-height: 35px;
  border: 1px solid greenyellow;
  cursor: pointer;
}

.transparencia {
  filter: blur(10px);
}

/*Resultado da conta*/
.resultado {
  /*
    - uma tag <span> está dentro de outra tag <span>, então para ficar o conteúdo
    na mesma linha, eu utilizo o float com inline-start pra ficar na posição original.
  */
  float: inline-start;
}

/*Botão de mostrar a resposta*/

#botoes {
  width: 100px;
  padding: 10px;
  display: flex;
  align-self: center;
}

.btn-fase-1,
.esconder-resposta {
  margin: 0px 5px 5px 7px;
  padding: 10px;
  border-style: none;
  font-weight: 700;
}

.btn-fase-1:hover {
  background-color: rgb(136, 255, 107);
  border: 1px solid rgb(2, 190, 43);
  cursor: pointer;
}

.esconder-resposta:hover {
  background-color: rgb(255, 46, 46);
  border: 1px solid rgb(241, 0, 0);
  cursor: pointer;
}
