@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(42, 170, 42);
  height: 110vh;
  font-family: 'Roboto', sans-serif;
}


#container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 400px;
  margin: 20em auto 0px;
}

.box-1, .box-2, .box-3, .box-4 {
  width: 150px;
  height: 100px;
  margin-top: 8em;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: rgb(47, 255, 75);
}


.box-1:hover {
  background-color: rgb(132, 248, 15);
  border: 1px solid rgb(42, 148, 10);
  cursor: pointer;
  color: #fff;
  animation: 0.5s;
}
.box-2:hover {
  background-color: rgb(108, 216, 0);
  border: 1px solid rgb(42, 148, 10);
  cursor: pointer;
  color: #fff;
}
.box-3:hover {
  background-color: rgb(83, 211, 100);
  border: 1px solid rgb(42, 148, 10);
  cursor: pointer;
  color: #fff;
}
.box-4:hover {
  background-color: rgb(27, 172, 46);
  border: 1px solid rgb(42, 148, 10);
  cursor: pointer;
  color: #fff;
}


/*header*/
#container-head{
  display: flex;
  justify-content: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  line-height: 25px;

}

#container-head h1:hover {
  color: rgb(74, 255, 74);
  cursor: pointer;
}
#icon-math{
  margin-top: 10px;
}




/*Creditos dos icones*/
#creditos-icons{
  position: fixed;
  bottom: 0;
  width: 340px;
}
#creditos-icons a {
  color: #fff;
}